#quickSearch{
    display:inline-block;
    width:80%;
    margin-left: 10%;
    margin-top:2%;
    /* border:2px solid blue */
}

#quickHeading{
    display:block;
    font-size:30px;
    color:#3b2632;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin-left:2%;
}

#quickHeading:hover{
    font-size:40px;
    color:black
}

#quickSubHeading{
    display:block;
    font-size:20px;
    color:gray;
    line-height: 2;
    margin-left:2%;
}

.tileContainer{
    width: 30%;
    height:180px;
    box-shadow: 10px 20px 10px gray;
    float:left;
    margin-left:2%;
    margin-top:2%;
}

.tileComponent1{
    width:50%;
    height:180px;
    float:left;
}
.tileComponent1>img{
    width:100%;
    height:180px
}
.tileComponent2{
    width:45%;
    margin-left:5%;
    margin-top:15%;
    float:left;
}

.componentHeading >a {
    color:#3b2632;
    font-size:25px;
}
.componentSubHeading{
    color:gray;
    font-size:20px;
}