body{
    margin:auto
}
a{
    text-decoration: none;
}
/*Header Css*/
header{
    height:60px;
    background-color:#f18c44;
    /* position:sticky; */
    width:100%
    /* border:2px solid red */
}
#icon{
    float:left
}
#social{
    float:right
}

.slogo{
    height:50px;
    width:50px;
}
/*Search Css*/
.headingText{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#content{
    width: 80%;
    display:inline-block;
    margin-left: 10%;
}

.filterDiv{
    height:500px;
    width:20%;
    border:2px solid gray;
    float:left
}
.contentDiv{
    height:800px;
    width:77%;
    margin-left: 2%;
    border:2px solid green;
    float:left
}
/*Footer Css*/
footer{
    margin-top:5%;
    height:120px;
    width:100%;
    background-color:#fab889;
}
#footerText{
    text-align: center;
}
.footDiv{
    height:70px;
    width:33%;
    float:left;
    border-right:2px solid black;
    text-align: center;
}
.noBorder{
    border:none 
}