body{
    margin:auto
}
a{
    text-decoration: none;
}
/*Header Css*/
header{
    height:60px;
    background-color:#3b2632;
    /* position:sticky; */
    width:100%
    /* border:2px solid red */
}
#icon{
    float:left;
    color:white;
    font-size:35px;
    margin-left:2%
}
#icon > a {
    color:white;
    text-decoration: none;
}
#social{
    float:right
}

.slogo{
    height:50px;
    width:50px;
}
h1{
    color:white
}